@using System.Web.Optimization
@using KOExamApp.BLL.Dtos
@model KOExamApp.UI.ViewModels.ExamFormViewModel
@{
    ViewBag.Title = "Take Exam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Exam.Name</h1>

<div>
    <div class="jumbotron" style="overflow-wrap: break-word;">
        <p>@Html.Raw(Model.Article.Text)</p>
    </div>
</div>

<div class="form-group row" id="test">
    @for (int i = 0; i < Model.Exam.Questions.Count; i++)
    {
        <div class="col-xs-6">
            @Html.LabelFor(m => m.Exam.Questions[i].Query, (i + 1).ToString())
            @Html.TextBoxFor(m => m.Exam.Questions[i].Query, new { @class = "form-control", @readonly = "readonly", @Name = "" })
            @{string grpString = Model.Exam.Questions[i].GetHashCode().ToString();}
            <div class="radio">
                @for (int j = 0; j < Model.Exam.Questions[i].Choices.Count; j++)
                {
                    string id = Model.Exam.Questions[i].Choices[j].Id.ToString();
                    <div class="choice-@id" id="@id">
                        <label>
                            @Html.RadioButtonFor(m => m.Exam.Questions[i].Choices[j].IsAnswer, true, new { @Name = grpString, @id = id})
                            @Html.TextBoxFor(m => m.Exam.Questions[i].Choices[j].Text, new { @class = "form-control", @readonly = "readonly", @Name = "", @id = id })
                        </label>
                    </div>
                }
            </div>
        </div>
    }
    <div style="align-content: center; text-align: center">
        <button type="submit" class="btn btn-primary .js-check" style="text-align: center">Check</button>
    </div>

</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>


        $("button").click(
            function() {
                $(':checked').each(function() {
                    var id = $(this).attr("id");

                    $.ajax({
                        url: "/api/choices/" + id,
                        method: "GET",
                        context: this,
                        success: function(result) {
                            if (result.isAnswer == false) {
                                $("#" + id + ".form-control").css("background-color", "red");

                            } else {
                                $("#" + id + ".form-control").css("background-color", "green");
                            }
                        },
                        error: function(e) {
                            alert(e.message);
                        }

                    });
                });
                $(':radio').not(':checked').each(function() {
                    var id = $(this).attr("id");
                    $("#" + id + ".form-control").css("background-color", "");
                });
            });
    </script>
}