
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KOExamApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
</head>

<body>
    @Html.Partial("_NavBar")

    <div class="container body-content" style="padding-top: 65px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - KOExamApp</p>
            <p>Educational purposes only.</p> 
            <p>All articles belongs to <a href="https://www.wired.com/">Wired.com</a> and it's respectful owners.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap"))
    @RenderSection("scripts", required: false)
</body>
</html>